@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
  
.max-width{
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}
  
/*nabvar styling*/
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  font-family: 'Ubuntu', sans-serif;
  background: transparent;
  transition: all 0.3s ease;
}
  
.navbar.sticky{
  padding: 10px 0;
  background: #ff7200;
}
  
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
  
.navbar .logo a span{
  color: #fff;
  transition: all 0.3s ease;
}
  
.navbar.sticky .logo a span{
  color: #fff;
}
  
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
  
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
  
.navbar .menu li a:hover{
  color: #ff7200;
}
  
.navbar.sticky .menu li a:hover{
  color: #000;
}
  
.navbar .search {
  width: 250px;
  float: right;
}
  
.navbar .srch {
  font-family: 'Ubuntu', sans-serif;
  width: 150px;
  height: 30px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: rgba(0, 0, 0, 0.5);
  border-right: none;
  font-size: 13px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
  
.navbar.sticky .srch{
  border: 1px solid #fff;
}
  
.btn {
  width: 80px;
  height: 30px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
  
.navbar.sticky .btn{
  background: #fff;
  border: 2px solid #fff;
  color: #ff7200;
}
  
.btn:focus {
  outline: none;
}
  
.navbar .srch:focus {
  outline: none;
}
  
.navbar .butonlar {
  width: 205px;
  float: right;
}
  
.btnlr {
  width: 100px;
  height: 30px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
}
  
.navbar.sticky .btnlr{
  background: #fff;
  border: 2px solid #fff;
  color: #ff7200;
}

/*menu btn styling*/
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
  
    
/*blabla section start*/
.boxes{
  display: flex;
  background: url("images/howitworks.jpeg") no-repeat center;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.boxes .max-width{
  margin: auto 0 auto 40px;
}

.boxes .box-content .text-1{
  font-size: 70px;
  font-weight: 600;
  margin-left: -3px;
}

/* about section styling */
section{
  padding: 40px 0;
}

.about{
  font-family: 'Poppins',sans-serif;
}

.about .title{
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu',sans-serif;
}

.about .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.about .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left{
  width: 45%;
}

.about .about-content .left img{
  height: 400px;
  width:400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right{
  width: 55%;
}

.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px ;
}

.about .about-content .right .text span{
  color: #ff7200;
}

.about .about-content .right p{
  text-align: justify;
}

.about .about-content .right a{
  display: inline-block;
  background: #ff7200;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ff7200;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover{
  color: #ff7200;
  background: none;
}

/* target section*/
section{
  padding: 40px 0;
}

.target{
  font-family: 'Poppins',sans-serif;
}

.target .title{
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu',sans-serif;
}

.target .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.target .target-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.target .target-content .right{
  width: 40%;
}

.target .target-content .right img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  left: -50px;
}

.target .target-content .left{
  width: 55%;
}

.target .target-content .left .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px ;
}

.target .target-content .left .text span{
  color: #ff7200;
}

.target .target-content .left p{
  text-align: justify;
}

.target .target-content .left a{
  display: inline-block;
  background: #ff7200;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ff7200;
  transition: all 0.3s ease;
}

.target .target-content .left a:hover{
  color: #ff7200;
  background: none;
}

/*responsive media query start*/
@media (max-width: 1208px){
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 1104px){
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px){
  .max-width{
    padding: 0 50px;
  }
}

@media (max-width: 947px){
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar .search{
    display: none;
  }
  .navbar .srch{
    display: none;
  }
  .boxes .box-content .text-1{
    font-size: 70px;
  } 
  .boxes .box-content .text-2{
    font-size: 35px;
  }
  .max-width{
    max-width: 930px;
  }
  .about .about-content .column{
    width: 100%;
  }
  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right{
    flex: 100%;
  }
}

@media (max-width: 690px){
  .max-width{
    padding: 0 23px;
  }
  .boxes .box-content .text-1{
    font-size: 60px;
  } 
  .boxes .box-content .text-2{
    font-size: 32px;
  }
}

@media (max-width: 500px){
  .boxes .box-content .text-1{
    font-size: 50px;
  } 
  .boxes .box-content .text-2{
    font-size: 27px;
  }
  .about .about-content .right .text{
    font-size: 19px;
  }
}


.boxes{
  display: flex;
  background: url("https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg") no-repeat center;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  min-height: 650px;
  font-family: 'Ubuntu', sans-serif;
}

.boxes .max-width{
  margin: auto 0 auto 40px;
}

.boxes .box-content .text-1{
font-size: 50px;
font-weight: 600;
margin-left: -3px;
}

.boxes .box-content .text-2{
font-size: 50px;
font-weight: 600;
margin-left: -3px;
}

.boxes .box-content .text-3{
font-size: 20px;
font-weight: 350;
margin-left: -3px;
}

.boxes .box-content .text-4{
font-size: 20px;
font-weight: 350;
margin-left: -3px;
}

.boxes .button{
margin: 14px 0;
}

.boxes .button button{
outline: none;
color:#fff;
font-size: 20px;
font-weight: 500;
padding: 9px 125px;
background: #1c1d1f;
border: 2px solid transparent;
transition: all 0.4 ease;
}

.boxes .button button:hover{
color: #fff;
background-color: black;
border-color: #1c1d1f ;
}


/* about section styling*/

.about{
font-family: 'Poppins','sans-serif';
}

.about .title{
position: relative;
text-align: center;
font-size: 50px;
font-weight: 500;
margin-bottom: 100px;
padding-bottom: 10px;
font-family: 'Ubuntu','sans-serif';
}

.about .title::before{
content: "";
position: absolute;
bottom: 0px;
left: 50%;
width: 180px;
height: 3px;
background: #111;
transform: translateX(-50%);
}

.about .title::after{
background: #111;
position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .about-content{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.about .about-content .card{
width: calc(33% - 20px);
text-align: center;
border-radius: 6px;
padding: 20px 25px;
cursor: pointer;
}

.about .about-content .card .box{
transition: all 0.3s ease;
}

.about .about-content .card i{
font-size: 50px;
color: #ff7200;
}

.about .about-content .card .text{
font-size: 25px;
font-weight: 500;
margin: 10px 0 7px 0;
}


.footer{
  font-family: 'Poppins',sans-serif;
}

footer{
  background: #111;
  padding: 20px 23px;
  color:#fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer span a{
  color:#ff7200;
  text-decoration: none;
}

footer span a:hover{
  text-decoration: underline;
}