*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*nabvar styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    background: transparent;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: #ff7200;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
list-style: none;
display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #fff;
}

/*blabla section start*/

.home{
    display: flex;
    background: url("howitworks.jpeg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 100px;
    color: black;
}

.home .home-content .text-2{
    font-size: 100px;
    color: black;
}

.home .home-content .text-3{
    font-size: 100px;
    color: black;
}