*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
  
/*nabvar styling*/
.navbar{
  position: fixed;
  width: 100%;
  padding: 15px 0;
  font-family: 'Ubuntu', sans-serif;
  background: transparent;
  transition: all 0.3s ease;
}
  
.navbar.sticky{
  padding: 10px 0;
  background: #ff7200;
  /*background-image: linear-gradient(#ff7200, #fff);*/
}
  
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
  
.navbar .logo a span{
  color: #fff;
  transition: all 0.3s ease;
}
  
.navbar.sticky .logo a span{
  color: #fff;
}
  
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
  
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
  
.navbar .menu li a:hover{
  color: #ff7200;
}
  
.navbar.sticky .menu li a:hover{
  color: #000;
}
  
.navbar .search {
  width: 250px;
  float: right;
}
  
.navbar .srch {
  font-family: 'Ubuntu', sans-serif;
  width: 150px;
  height: 30px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: rgba(0, 0, 0, 0.5);
  border-right: none;
  font-size: 13px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
  
.navbar.sticky .srch{
  border: 1px solid #fff;
}
  
.btn {
  width: 80px;
  height: 30px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
  
.navbar.sticky .btn{
  background: #fff;
  border: 2px solid #fff;
  color: #ff7200;
}
  
.btn:focus {
  outline: none;
}
  
.navbar .srch:focus {
  outline: none;
}
  
.navbar .butonlar {
  width: 250px;
  float: right;
}
  
.btnlr {
  width: 100px;
  height: 30px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
}
  
.navbar.sticky .btnlr{
  background: #fff;
  border: 2px solid #fff;
  color: #ff7200;
}

/*menu btn styling*/
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/*home styling*/    
.home{
  display: flex;
  background: url("images/education.jpeg") no-repeat center; 
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 300px;
  font-family: 'Ubuntu', sans-serif;
}
  
.home .max-width{
  margin: auto 0 auto 40px;
}

.home .home-content .text-1{
  font-size: 45px;
  font-weight: 600;
  margin-left: -3px;
}

/* footer section styling*/
.footer{
  font-family: 'Poppins',sans-serif;
}

footer{
  background: #111;
  padding: 20px 23px;
  color:#fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer span a{
  color:#ff7200;
  text-decoration: none;
}

footer span a:hover{
  text-decoration: underline;
}  